body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #b8b5ff;
}

a {
    color: currentColor;
   text-decoration: none;
}

.nav {
    min-width: 100vw;
    height: 10vh;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background: #7868e6;
    z-index: 1;
}

.nav a {
    border-radius: 10px;
    padding: 10px 15px;
}

.nav a:hover{ 
    background: #948adb;

}

.contenedor1, .contenedor2, .contenedor3 {
    color: #212121;
    background: #edeef7;
    width: 75vw;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 740px) {
    .contenedor1, .contenedor2, .contenedor3 {
        width: 90vw;
    }
}
